---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import Card from '../../components/Card.astro';
import {gql, GraphQLClient} from 'graphql-request';

const client = new GraphQLClient(import.meta.env.WORDPRESS_URL + '/graphql');

const query = gql`
	query {
		posts {
			nodes {
				title
				excerpt
				date
				modified
				slug
				featuredImage {
					node {
						sourceUrl
					}
				}
				author {
					node {
						id
						name
					}
      			}
				categories {
					nodes {
						id
						name
					}
				}
				tags {
					nodes {
						id
						name
					}
				}
				content
			}
		}
	}
`;

const response : GraphQLResponse = await client.request(query);

const posts : Post[] = response.posts.nodes.map((post : any) => ({
	title: post.title,
	slug: post.slug,
	excerpt: post.excerpt,
	pubDate: post.date,
	featuredImage: post.featuredImage?.node.sourceUrl,
	content: post.content,
	tags: post.tags.nodes.map((tag : any) => tag.name),
	categories: post.categories.nodes.map((category : any) => category.name),
	author: post.author.node.name
}));


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			
			img{
				height: 200px;
				width: 400px;
				object-fit: cover;
			}

			li{
				display: flex;
				align-items: center;
				padding: 1em;
				border-radius: 6px;
				border : 2px solid var(--accent);
				box-shadow: 0 0 10px rgba(0,0,0,0.1);
			}

			a{
				display: flex;
				align-items: center;
				gap: 1em;
				text-decoration: none;
			}

			section{
				padding: 1em;
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="grid grid-cols-1 gap-4">
					{
						posts.map((post : Post) => (
							<Card post={post} />

						))
					}
			</section>
		</main>
		<Footer />
	</body>
</html>
