---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import Card from '../../components/Card.astro';
import type { Post } from '../../types';
import {gql, GraphQLClient} from 'graphql-request';

  const client = new GraphQLClient('https://wordpress-1324799-4844326.cloudwaysapps.com/graphql');

const query = gql`
	query {
		posts {
			nodes {
				title
				excerpt
				date
				modified
				slug
				featuredImage {
					node {
						sourceUrl
					}
				}
				content
			}
		}
	}
`;

const response = await client.request(query);

const posts = response.posts.nodes.map((post : any) => ({
	title: post.title,
	slug: post.slug,
	description: post.excerpt,
	pubDate: post.date,
	updatedDate: post.modified,
	heroImage: post.featuredImage.node.sourceUrl,
	content: post.content
}));

console.log(posts);

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			
			img{
				height: 200px;
				width: 400px;
				object-fit: cover;
			}

			li{
				display: flex;
				align-items: center;
				padding: 1em;
				border-radius: 6px;
				border : 2px solid var(--accent);
				box-shadow: 0 0 10px rgba(0,0,0,0.1);
			}

			a{
				display: flex;
				align-items: center;
				gap: 1em;
				text-decoration: none;
			}

			section{
				padding: 1em;
			}

		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post : Post) => (
							<Card post={post} />

						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
